* {
  box-sizing: border-box;
}

.header__nav__logo {
  font-family: "Shrikhand", cursive;
}

body {
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  background-color: #000;
  border-radius: 15px;
}

.second-skin {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

p {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-button {
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  background-color: #FF79DA;
  height: 45px;
  border-radius: 22px;
}

.header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header, .main, .footer {
  background-color: #fff;
}

.titres {
  font-size: medium;
  font-weight: 700;
}

.header__nav {
  display: flex;
  position: relative;
  justify-content: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 3px;
}
.header__nav__back {
  order: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.header__nav__logo {
  order: 2;
}

.presentation__cflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.presentation__cflex__item1 {
  flex-basis: 100%;
  margin-bottom: 30px;
  background-color: #F7F7F7;
}
.presentation__cflex__item1 .localisation {
  background-color: #EDEDED;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.presentation__cflex__item1 .reservation__cflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F7F7F7;
}
.presentation__cflex__item1 .reservation__cflex > * {
  flex-basis: 100%;
  text-align: center;
}
.presentation__cflex__item1 .reservation__cflex button {
  flex-basis: 55%;
  margin-bottom: 15px;
}
.presentation__cflex__item2 {
  flex-basis: 100%;
  background-color: #fff;
}
.presentation__cflex__item2--titre {
  padding-left: 20px;
}
.presentation__cflex__item2 .fct__cflex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.presentation__cflex__item2 .fct__cflex__item1 {
  flex-basis: 100%;
  margin-bottom: 5px;
}
.presentation__cflex__item2 .fct__cflex__item1 .cflex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.presentation__cflex__item2 .fct__cflex__item1 .cflex > .item--numero {
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  font-size: 11px;
  font-weight: 600;
  padding-left: 9px;
  padding-top: 7px;
  z-index: 3;
}
.presentation__cflex__item2 .fct__cflex__item1 .cflex > .item--etape {
  height: 60px;
  width: 235px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: -12px;
  border-radius: 25px;
  box-shadow: 3px 3px 7px #aca8a8;
  background-color: #F7F7F7;
}
.presentation__cflex__item2 .fct__cflex__item2 {
  flex-basis: 100%;
  margin-bottom: 5px;
}
.presentation__cflex__item2 .fct__cflex__item2 .cflex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.presentation__cflex__item2 .fct__cflex__item2 .cflex > .item--numero {
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  font-size: 11px;
  font-weight: 600;
  padding-left: 9px;
  padding-top: 7px;
  z-index: 3;
}
.presentation__cflex__item2 .fct__cflex__item2 .cflex > .item--etape {
  height: 60px;
  width: 235px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: -12px;
  border-radius: 25px;
  box-shadow: 3px 3px 7px #aca8a8;
  background-color: #F7F7F7;
}
.presentation__cflex__item2 .fct__cflex__item3 {
  flex-basis: 100%;
  margin-bottom: 5px;
}
.presentation__cflex__item2 .fct__cflex__item3 .cflex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.presentation__cflex__item2 .fct__cflex__item3 .cflex > .item--numero {
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  font-size: 11px;
  font-weight: 600;
  padding-left: 9px;
  padding-top: 7px;
  z-index: 3;
}
.presentation__cflex__item2 .fct__cflex__item3 .cflex > .item--etape {
  height: 60px;
  width: 235px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: -12px;
  border-radius: 25px;
  box-shadow: 3px 3px 7px #aca8a8;
  background-color: #F7F7F7;
}

.img--resto-mobile {
  flex-grow: 1;
  width: 265px;
  max-width: 610px;
  min-width: 265px;
  height: 250px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.restaurants__cflex {
  display: flex;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.restaurants__cflex__item--titre {
  flex-basis: 100%;
  padding-left: 5px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.restaurants__cflex__item--carteresto1 {
  position: relative;
  margin-bottom: 10px;
  flex-basis: 100%;
}
.restaurants__cflex__item--carteresto1:hover {
  cursor: hand;
}
.restaurants__cflex__item--carteresto1 .cflex {
  display: flex;
  flex-wrap: wrap;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #fff;
}
.restaurants__cflex__item--carteresto1 .cflex__item--image {
  display: flex;
  position: relative;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte {
  flex-basis: 100%;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex {
  display: flex;
  justify-content: space-between;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item1--identite {
  flex-basis: 50%;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item1--identite .cflex {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  height: 50px;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item1--identite .cflex .nom_resto {
  font-weight: 600;
  flex-basis: 100%;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item1--identite .cflex .adresse_resto {
  font-weight: 300;
  flex-basis: 100%;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item2--coeur {
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
  flex-basis: 50%;
}

.nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: green;
  top: 10px;
  right: 25px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.click-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 5;
}

/*# sourceMappingURL=style.css.map */
