* {
  box-sizing: border-box;
}

.header__nav__logo {
  font-family: "Shrikhand", cursive;
}

.header__nav__back {
  text-align: left;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  background-color: #000;
  border-radius: 15px;
}

.second-skin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.main {
  flex-basis: 100%;
  align-self: stretch;
}

p {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-button {
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  background-color: #FF79DA;
  height: 45px;
  border-radius: 22px;
  box-shadow: 1px 1px 5px 3px lightgrey;
}

.button-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header, .main, .footer {
  background-color: #fff;
}

.titres {
  font-size: 1.2rem;
  font-weight: 700;
}

.header {
  position: relative;
  align-self: stretch;
}

.header__nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 3px;
}
.header__nav__back svg {
  position: absolute;
  left: 10px;
  top: 20px;
}
.header__nav__back svg path {
  fill: black;
}
.header__nav__logo {
  order: 2;
}

.presentation__cflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.presentation__cflex__item1 {
  flex-basis: 100%;
  background-color: #F7F7F7;
}
.presentation__cflex__item1 .localisation {
  background-color: #EDEDED;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.presentation__cflex__item1 .reservation__cflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #F7F7F7;
}
.presentation__cflex__item1 .reservation__cflex > * {
  flex-basis: 100%;
  text-align: center;
}
.presentation__cflex__item1 .reservation__cflex .titres {
  margin-top: 20px;
  margin-bottom: 10px;
}
.presentation__cflex__item1 .reservation__cflex .main-button {
  flex-basis: 50%;
  margin-bottom: 30px;
  margin-top: 15px;
  max-width: 200px;
  min-width: 195px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 600;
}
.presentation__cflex__item2 {
  flex-basis: 100%;
  background-color: #fff;
}
.presentation__cflex__item2--titre {
  padding-left: 20px;
}
.presentation__cflex__item2 .fct__cflex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.presentation__cflex__item2 .fct__cflex__item1 {
  flex-basis: 100%;
  margin-bottom: 5px;
}
.presentation__cflex__item2 .fct__cflex__item1 .cflex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.presentation__cflex__item2 .fct__cflex__item1 .cflex > .item--numero {
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  font-size: 11px;
  font-weight: 600;
  padding-left: 9px;
  padding-top: 7px;
  z-index: 3;
}
.presentation__cflex__item2 .fct__cflex__item1 .cflex > .item--etape {
  height: 60px;
  width: 235px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: -12px;
  border-radius: 25px;
  box-shadow: 3px 3px 7px #aca8a8;
  background-color: #F7F7F7;
}
.presentation__cflex__item2 .fct__cflex__item1 .cflex > .item--etape.mauve {
  background-color: #F7F1FF;
}
.presentation__cflex__item2 .fct__cflex__item2 {
  flex-basis: 100%;
  margin-bottom: 5px;
}
.presentation__cflex__item2 .fct__cflex__item2 .cflex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.presentation__cflex__item2 .fct__cflex__item2 .cflex > .item--numero {
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  font-size: 11px;
  font-weight: 600;
  padding-left: 9px;
  padding-top: 7px;
  z-index: 3;
}
.presentation__cflex__item2 .fct__cflex__item2 .cflex > .item--etape {
  height: 60px;
  width: 235px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: -12px;
  border-radius: 25px;
  box-shadow: 3px 3px 7px #aca8a8;
  background-color: #F7F7F7;
}
.presentation__cflex__item2 .fct__cflex__item2 .cflex > .item--etape.mauve {
  background-color: #F7F1FF;
}
.presentation__cflex__item2 .fct__cflex__item3 {
  flex-basis: 100%;
  margin-bottom: 5px;
}
.presentation__cflex__item2 .fct__cflex__item3 .cflex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.presentation__cflex__item2 .fct__cflex__item3 .cflex > .item--numero {
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  font-size: 11px;
  font-weight: 600;
  padding-left: 9px;
  padding-top: 7px;
  z-index: 3;
}
.presentation__cflex__item2 .fct__cflex__item3 .cflex > .item--etape {
  height: 60px;
  width: 235px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 10px;
  margin-left: -12px;
  border-radius: 25px;
  box-shadow: 3px 3px 7px #aca8a8;
  background-color: #F7F7F7;
}
.presentation__cflex__item2 .fct__cflex__item3 .cflex > .item--etape.mauve {
  background-color: #F7F1FF;
}

.img--resto-mobile {
  flex-grow: 1;
  width: 265px;
  max-width: 610px;
  min-width: 265px;
  height: 250px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.restaurants__cflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.restaurants__cflex__item--titre {
  flex-basis: 100%;
  padding-left: 5px;
  padding-bottom: 20px;
  padding-top: 10px;
  align-self: flex-start;
}
.restaurants__cflex__item--carteresto1 {
  position: relative;
  margin-bottom: 10px;
  flex-basis: 100%;
}
.restaurants__cflex__item--carteresto1:hover {
  cursor: hand;
}
.restaurants__cflex__item--carteresto1 .cflex {
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #fff;
}
.restaurants__cflex__item--carteresto1 .cflex__item--image {
  display: flex;
  position: relative;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte {
  flex-basis: 100%;
  height: 50px;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex {
  display: flex;
  justify-content: space-between;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item1--identite {
  flex-basis: 50%;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item1--identite .cflex {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  height: 50px;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item1--identite .cflex .nom_resto {
  font-weight: 600;
  flex-basis: 100%;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item1--identite .cflex .adresse_resto {
  font-weight: 300;
  flex-basis: 100%;
}
.restaurants__cflex__item--carteresto1 .cflex__item--texte .cflex__item2--coeur {
  position: relative;
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
  flex-basis: 50%;
}

.nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: green;
  top: 10px;
  right: 25px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.click-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 5;
}

.coeur {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  right: 10px;
  text-decoration: none;
  z-index: 6;
}
.coeur:active {
  background-color: pink;
}
.click-coeur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
}

.svg-inline--fa .fa-heart .fa-w-16:active {
  background-color: pink;
}
.svg-inline--fa .fa-heart .fa-w-16:hover {
  background-color: black;
}

footer {
  flex-basis: 100%;
  align-self: stretch;
}

.footer {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  padding-top: 10px;
  background-color: #413f3f;
  padding-left: 15px;
  color: white;
}
.footer--titre {
  flex-basis: 100%;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  font-size: 18px;
}
.footer--ul {
  flex-basis: 100%;
  list-style-type: none;
  padding-left: 0;
}
.footer--li > a {
  text-decoration: none;
  color: white;
  margin-bottom: 3px;
}

#icon-violet path {
  fill: #9356DC;
}

/*menu-restaurant*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}
.menu__item__photo {
  flex-basis: 100%;
  display: flex;
}
.menu__item__carte {
  flex-basis: 100%;
  background-color: #F7F7F7;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -10px;
}
.menu__item__carte .cflex {
  display: flex;
  flex-wrap: wrap;
}
.menu__item__carte .cflex__item__enseigne {
  flex-basis: 100%;
  z-index: 1;
  margin-bottom: 25px;
  padding-left: 18px;
  padding-right: 25px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
}
.menu__item__carte .cflex__item__moment {
  flex-basis: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.menu__item__commande {
  flex-basis: 100%;
  text-align: center;
  background-color: #F7F7F7;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.menu__item__commande > .main-button {
  margin-bottom: 30px;
  margin-top: 15px;
  max-width: 170px;
  min-width: 165px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 600;
}

.img--resto-mobile-menu {
  flex-grow: 1;
  width: 265px;
  max-width: 610px;
  min-width: 265px;
  height: 250px;
}

.underscores {
  color: #99E2D0;
  font-weight: 700;
  padding-top: 0px;
  margin-top: 0px;
}

.moment--titre {
  padding-bottom: 0px;
  margin-bottom: -10px;
}

.moment {
  margin-bottom: 20px;
  margin-top: 30px;
}

.choix--titre {
  margin-top: 5px;
  margin-bottom: 4px;
}

.prix__entree, .prix__plat, .prix__dessert {
  padding-right: 10px;
}

.entree .cflex, .plat .cflex, .dessert .cflex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.entree .cflex > .prix__entree, .entree .cflex .prix__plat, .entree .cflex .prix__dessert, .plat .cflex > .prix__entree, .plat .cflex .prix__plat, .plat .cflex .prix__dessert, .dessert .cflex > .prix__entree, .dessert .cflex .prix__plat, .dessert .cflex .prix__dessert {
  font-weight: 600;
  align-self: flex-end;
}

.choix__entree, .choix__plat, .choix__dessert {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
