footer {
    flex-basis: 100%;
    align-self: stretch;
}
.footer {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    padding-top: 10px;;
    background-color: rgb(65, 63, 63);
    padding-left: 15px;
    color: white;
    &--li {
        padding-bottom: 8px;
    }
    &--titre {
        flex-basis: 100%;
        font-family: 'Shrikhand', cursive;
        font-weight: 700;
        font-size: 18px;
    }
    &--ul {
        flex-basis: 100%;
        list-style-type: none;
        padding-left: 0;
    }
    &--li > a {
        text-decoration: none;
        color: white;
        margin-bottom: 3px;
    }
}